@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes filterPop {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes filterPopIn {
    100% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    0% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes widen {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}