/**
 * COPYRIGHT 2022 Phil Bladen www.philbladen.co.uk
 */

@keyframes fadetoaccent {
    0% {
    }
    50% {
        color: white;
    }
    100% {
        color: $accentColor3;
    }
}

@keyframes move-left {
    0% {
        left: 0;
    }
    50% {
        left: -40vw;
    }
    100% {
        left: -100vw;
    }
}

@keyframes grow-left {
    0% {
        left: 100vw;
        width: 0;
    }
    50% {
        left: 100vw;
        width: 50vw;
    }
    100% {
        left: 100vw;
        width: 100vw;
    }
}

@keyframes dashmove {
    from {
        stroke-dashoffset: 10;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes bob {
    0% {
        transform: translate(0, -0.025em);
    }
    50% {
        transform: translate(0, 0.025em);
    }
    100% {
        transform: translate(0, -0.025em);
    }
}

@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popout {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes loader {
    0% {
        transform: scale(1) rotate(0deg);
    }
    // 50% {
    //     transform: scale(1.0) rotate(0deg);
    // }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes firstAnimation {
    to {
        stroke-dashoffset: 0;
    }
}