.mobileonly {
    display: none;
}

@media screen and (max-width: 1200px) {
    .background {
        font-size: 70px;
    }
}
@media screen and (max-width: 768px) {
    .background {
        font-size: 50px;
    }
    .mobileonly {
        display: block;
    }
    .desktoponly {
        display: none;
    }
}