/**
 * COPYRIGHT 2022 Phil Bladen www.philbladen.co.uk
 */

// Theme colours:
$colBackground: #1e1e1e;

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: "Macondo", cursive;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
}

.background {
    // background: radial-gradient(
    //     ellipse farthest-corner at center bottom,
    //     #923792 0%,
    //     #f72585 100%
    // )
    // center bottom / 100% fixed;

    background: linear-gradient(
            to bottom,
            #191919 0%,
            #1e1e1e 50%,
            #191919 100%
        )
        center bottom / 100% fixed;
}

.sideGlyphs {
    text-align: start;
    writing-mode: vertical-rl;
    white-space: nowrap;
    font-size: 0.5em;
    font-family: "Noto Sans Old Persian", sans-serif;
    color: #333;
    user-select: none;
}

main {
    display: flex;
    flex-direction: row;
    // font-size: 12px;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;

    // overflow: hidden;

    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;

    // & > 
}

.side {
    flex: 0px 1 0;
    // flex-grow: 1;
    overflow: hidden;
}

.limiter {
    flex: 1 1;

    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;

    & > div {
        // display: flex;
        // justify-content: center;
    }
}



.content {
    max-width: 50%;
}

@media screen and (max-width: 2000px) {
    .content {
        max-width: 80%;
        // background-color: red;
    }
}
@media screen and (max-width: 1000px) {
    .content {
        max-width: 90%;
        // background-color: red;
    }

    .sideGlyphs {
        // content: "";
        // display: none;
        font-size: 0.3em;
    }
}

.cursor {
    &::after {
        position: absolute;
        content: "|";
        // transform: translate(0, -10px);
        transform: scale(0.5, 1.2);
    }
}

.title {

}

.subsection {
    font-size: 0.5em;
    margin-bottom: 0.3em;
}

.subsectionContent {
    font-family: Montserrat;
    font-size: 0.25em;
    text-align: justify;

    & br {
        content: " ";
        display: block;
        margin-bottom: 1em;
    }
}



#violationTemplate {
    & th,td {
        // padding-bottom: 5px;
        // border: 5px $colBackground solid;

        // outline: none;
        border: none;
        padding: 5px 10px 5px 10px;
        margin: 0px;
        
    }

    & td + td,
    th + th { border-left: 5px solid $colBackground; }
    border-top: 5px solid $colBackground;
}

#violationsContent {
    font-family: Montserrat;
    font-size: 0.25em;

    display: flex;
    flex-direction: column;

    & tr:first-child {
        border-top: none;
    }
}

#loader {
    background: linear-gradient(
        to bottom,
        #191919 0%,
        #1e1e1e 50%,
        #191919 100%
    )
    center bottom / 100% fixed;
}

.loaderIcon {
    max-width: 30%;
    animation: popin 0.2s, loader 1s infinite;
    animation-delay: 0s, 0.2s;
}

.loaderHide {
    animation: popout 0.5s;
}

@keyframes popin {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes popout {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(0.0);
    }
}

@keyframes loader {
    0% {
        transform: scale(1.0) rotate(0deg);
    }
    // 50% {
    //     transform: scale(1.0) rotate(0deg);
    // }
    100% {
        transform: scale(1.0) rotate(360deg);
    }
}