// Theme colours: https://coolors.co/palette/ee6055-60d394-aaf683-ffd97d-ff9b85
$colBackground: #1b1a27;
$accentColor: #ee6055;
$accentColor2: #6698e4;//#af7cda;
$accentColor3: white;
$colContentBackground: #ffffff;